@using Library.Models;
@{
  Layout = "_Layout";
}

<h3>Title: @Model["book"].GetName()</h3>
<h3>Author: @Model["author"].GetName()</h3>
<h3>Year: @Model["book"].GetYear()</h3>
<h3>Copies: @Model["copy"].GetCount()</h3>
<h3>Available: @Model["copy"].GetAvailable()</h3>
<hr>


<h4><a href='/books/@Model["book"].GetId()/update'>Make changes to @Model["book"].GetName()</a></h4>
<h4><a href='/books/@Model["book"].GetId()/checkout'>Check out</a></h4>
<hr>

<h4><a href="/books">Return to book list</a></h4>
<h4><a href="/">Back home</a></h4>
